api.json
[
  {
    "id": "1",
    "type": "inject",
    "z": "flow1",
    "name": "Get Car List",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 150,
    "y": 100,
    "wires": [
      [
        "2"
      ]
    ]
  },
  {
    "id": "2",
    "type": "http request",
    "z": "flow1",
    "name": "Fetch Car List",
    "method": "GET",
    "ret": "obj",
    "paytoqs": false,
    "url": "http://127.0.0.1:8000/cars",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 350,
    "y": 100,
    "wires": [
      [
        "3"
      ]
    ]
  },
  {
    "id": "3",
    "type": "debug",
    "z": "flow1",
    "name": "Show Car List",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 550,
    "y": 100,
    "wires": []
  }
]
